<!DOCTYPE html>
<html lang="en">
<head>
<meta charset="utf-8">
<title>CRUD EJS</title>
<link rel="icon" href="http://www.cakap-os.com/wp-content/uploads/2017/10/cropped-10-fix-32x32.jpg" sizes="32x32" />
<link rel="icon" href="http://www.cakap-os.com/wp-content/uploads/2017/10/cropped-10-fix-192x192.jpg" sizes="192x192" />
<link rel="apple-touch-icon-precomposed" href="http://www.cakap-os.com/wp-content/uploads/2017/10/cropped-10-fix-180x180.jpg" />
<meta name="msapplication-TileImage" content="http://www.cakap-os.com/wp-content/uploads/2017/10/cropped-10-fix-270x270.jpg" />
<meta name="viewport" content="width=device-width, initial-scale=1.0, maximum-scale=1.0, user-scalable=no">
<meta name="apple-mobile-web-app-capable" content="yes">
 <link href="/css/bootstrap.min.css" rel="stylesheet">
    <link href="/css/bootstrap-responsive.min.css" rel="stylesheet">
<link href="https://cdn.datatables.net/buttons/1.5.1/css/buttons.dataTables.min.css" rel="stylesheet">
    <link href="http://fonts.googleapis.com/css?family=Open+Sans:400italic,600italic,400,600" rel="stylesheet">
    <link href="/css/font-awesome.css" rel="stylesheet">
    <link rel="stylesheet" type="text/css" href="js/jquery-ui/jquery-ui.css">
    <link href="/css/style.css" rel="stylesheet">
     <link href="/css/datatables.min.css" rel="stylesheet">
     <link href="/css/dataTables.checkboxes.css" rel="stylesheet">
    

<!-- Le HTML5 shim, for IE6-8 support of HTML5 elements -->
<!--[if lt IE 9]>
      <script src="http://html5shim.googlecode.com/svn/trunk/html5.js"></script>
    <![endif]-->
    <!-- </head> --> 
</head>